<div class="demo-toolbar">
  <button (click)="zoomIn()" title="Zoom In" class="demo-icon-yIconZoomIn demo-toolbar-button"></button>
  <button (click)="zoomOriginal()" title="Zoom to original size" class="demo-icon-yIconZoomOriginal demo-toolbar-button"></button>
  <button (click)="zoomOut()" title="Zoom Out" class="demo-icon-yIconZoomOut demo-toolbar-button"></button>
  <button (click)="fitContent()" title="Fit Content" class="demo-icon-yIconZoomFit demo-toolbar-button"></button>
</div>

<graph-component></graph-component>

<properties-view class="demo-sidebar demo-right" [person]="currentPerson"></properties-view>
