<div id="app">
  <div class="demo-content">
    <graph-component nodeData="nodeData" (currentItem)="currentItemChanged($event)"></graph-component>
  </div>

  <aside class="demo-sidebar demo-left">
    <h1 class="demo-sidebar-header">Description</h1>
    <div class="demo-sidebar-content">
      <p>This demo shows how to use yFiles for HTML in an Angular app (with Angular 2 and newer) using SystemJS.</p>

      <p>
        <strong>Please note that for new projects, <a href="https://cli.angular.io/" target="_blank">Angular CLI</a> (which uses <a
            href="https://webpack.js.org/">webpack</a>) is recommended over SystemJS.</strong>
      </p>

      <p>The following Angular features are shown:</p>

      <ul>
        <li>The yFiles graph control is wrapped as an Angular <a target="_blank" href="https://angular.io/docs/ts/latest/guide/architecture.html#!#component">component</a>.</li>
        <li>A custom node style renders nodes using Angular components.</li>
        <li>The graph item data is provided as an <a target="_blank" href="https://angular.io/docs/ts/latest/guide/architecture.html#!#dependency-injection">injectable</a> Angular data <a target="_blank" href="https://angular.io/docs/ts/latest/guide/architecture.html#!#service">service</a>.</li>
        <li>A separate view shows the currently selected node using the same Angular component that renders the graph nodes.</li>
        <li>Employee properties can be edited using an angular form component. The properties will update automatically in all views.</li>
        <li>The currently selected item is propagated to the application component using an Angular <a target="_blank" href="https://angular.io/docs/ts/latest/guide/architecture.html#!#data-binding">event binding</a>.</li>
        <li>The currently selected item is bound to the separate node view and to the property form using an Angular <a href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#property-binding" target="_blank">property binding</a>.</li>
      </ul>

      <h2>Angular CLI</h2>
      <p>Please note our Knowledge Base article <a target="_blank" href="https://docs.yworks.com/yfileshtml/index.html#/kb/article/712/Using_yFiles_in_Angular_CLI_Projects">Using yFiles in Angular CLI Projects</a> if you are looking to integrate yFiles for HTML in an <a target="_blank" href="https://github.com/angular/angular-cli">Angular CLI</a> project.</p>
    </div>
  </aside>

  <aside class="demo-sidebar demo-right">
    <h1 class="demo-sidebar-header">Properties</h1>
    <div class="demo-sidebar-content">
      <div id="node-view">
        <svg *ngIf="currentItem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
          <g node-component [nodeData]="currentItem" style="width:100%"></g>
        </svg>
      </div>

      <employee-form *ngIf="currentItem" [nodeData]="currentItem"></employee-form>

    </div>
  </aside>
</div>
