<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
<!-- ////////////////////////////////////////////////////////////////////////
     // @license
     // This demo file is part of yFiles for HTML 2.5.
     // Copyright (c) 2000-2023 by yWorks GmbH, Vor dem Kreuzberg 28,
     // 72070 Tuebingen, Germany. All rights reserved.
     //
     // yFiles demo files exhibit yFiles for HTML functionalities. Any redistribution
     // of demo files in source code or binary form, with or without
     // modification, is not permitted.
     //
     // Owners of a valid software license for a yFiles for HTML version that this
     // demo is shipped with are allowed to use the demo source code as basis
     // for their own yFiles for HTML powered applications. Use of such programs is
     // governed by the rights and conditions as set out in the yFiles for HTML
     // license agreement.
     //
     // THIS SOFTWARE IS PROVIDED ''AS IS'' AND ANY EXPRESS OR IMPLIED
     // WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
     // MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN
     // NO EVENT SHALL yWorks BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
     // SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
     // TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
     // PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
     // LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
     // NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
     // SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
     // 
     ////////////////////////////////////////////////////////////////////////-->

        <title>Electron Demo [yFiles for HTML]</title>

        <% if (htmlWebpackPlugin.options.nodeModules) { %>
                <!-- Add `node_modules/` to global paths so `require` works properly in development -->
                <script>
                        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>');
                        require('source-map-support/source-map-support.js').install();
                </script>
        <% } %>
</head>
<body>
<div class="demo-content">
        <div class="demo-toolbar">
                <button id="btn-new" title="New" class="demo-icon-yIconNew"></button>
                <button id="btn-open" title="Open a GraphML file" class="demo-icon-yIconOpen"></button>
                <button id="btn-save" title="Save a GraphML file" class="demo-icon-yIconSave"></button>
                <span class="demo-separator"></span>
                <button id="btn-reset-zoom" title="Zoom to original size" class="demo-icon-yIconZoomOriginal"></button>
                <button id="btn-fit-content" title="Fit Content" class="demo-icon-yIconZoomFit"></button>
        </div>

        <div id="graphComponent"></div>
</div>
</body>
</html>
