**/node_modules/
**/dist/
**/*.html
**/*.md
/starter-kits/**
/03-tutorial-application-features/webgl-rendering/resources/*.json
/internal/webgl-performance-tests/resources/*.json
/view/large-graphs/resources/*.json
/view/rendering-optimizations/resources/*.json
