**/build/
**/dist/
**/node_modules/
**/.angular/
**/.next/
/application-features/webgl-rendering/resources/*.json
/showcase/large-graphs/resources/*.json
/internal/webgl-performance-tests/resources/*.json
/showcase/tree-of-life/resources/TreeOfLifeData.json
/starter-kits/**
/view/large-graphs/resources/*.json
/view/rendering-optimizations/resources/*.json
/view/webgl-label-fading/resources/*.json
